




#children-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
        "header header header"
        "goal  goal  quote"
        "goal  goal  index-photo";

    }

        @include lg {
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "goal quote"
            "goal quote"
            "goal index-photo";
            }

        #header {
            grid-area: header;
        }

        #goal{
            grid-area: goal;
        }

        #quote{
            grid-area: quote;
        }