
#children-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "wayside"
    "rebound"
    "nanny";




    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "wayside wayside wayside"
        "rebound rebound rebound"
        "nanny nanny nanny";
        
    }

 
       
    #wayside{
        grid-area: wayside;
        border: 20px solid #460A4E;
        text-align: center;
    }
    

    #rebound{
        grid-area: rebound;
        border: 20px solid #460A4E;
        text-align: center;

    }
    

    #nanny{
        grid-area: nanny;
        border: 20px solid #460A4E;
        text-align: center;
    
        }
    }

 