




#children-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "wayside"
    "rebound"
    "nanny";

}


    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "wayside" "rebound" "nanny"
        "wayside" "rebound" "nanny";

        
    }

 
       
    #wayside{
        grid-area: wayside;
    }

    #rebound{
        grid-area: rebound;
    }

    #nanny{
        grid-area: nanny;
        
        }

 