/* =============
    Index
============= */
#index-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "index-img"
    "quote"
    "goal";


    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "quote quote quote"
        "goal  goal index-img"
        "goal  goal index-img";
    }

 
       
    #goal{
        grid-area: goal;
        border: 20px solid #460A4E;
        text-align: center;
    }

    #quote{
        grid-area: quote;
    }

    #index-img{
        grid-area: index-img;
        text-align: center;
        img{
            width: 80%;
            margin: auto;
        }
    }
}
 
 





