
#management-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1f;
    grid-template-areas:
    "traderjoes traderjoes traderjoes"
    "clinical clinical clinical";
    




    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "traderjoes traderjoes traderjoes"
        "clinical clinical clinical";
        
        
    }

 
       
    #traderjoes{
        grid-area: traderjoes;
    }

    #clinical{
        grid-area: clinical;
    }
    

    
    }

    
 
