
#management-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "traderjoes "
    "clinical ";
    




    @include lg {
        grid-template-areas: 
        "traderjoes"
        "clinical";
        
        
    }

 
       
    #traderjoes{
        grid-area: traderjoes;
        border: 20px solid #460A4E;
        text-align: center;
    }

    #clinical{
        grid-area: clinical;
        border: 20px solid #460A4E;
        text-align: center;
    }
    
}
    
    

    
 
