
#management-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "traderjoes"
    "clinical";
    




    @include lg {
        grid-template-columns: auto 1024px auto;
        grid-template-areas: 
        "traderjoes"
        "clinical";
        
        
    }

 
       
    #traderjoes{
        grid-area: traderjoes;
    }

    #clinical{
        grid-area: clinical;
    }
    

    
    }

    
 
