#projects-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "coursework"
    "associations"
    "advocacy";




    @include lg {
        grid-template-areas:
        "coursework"
        "associations"
        "advocacy";
        
    }

    #coursework {
        grid-area: coursework;
        border: 20px solid #460A4E;
        text-align: center;

    }

    #associations {
        grid-area: associations;
        border: 20px solid #460A4E;
        text-align: center;
    }

    #advocacy {
        grid-area: advocacy;
        border: 20px solid #460A4E;
        text-align: center;
        
    }
}