#resume-content {
    display: grid;
    grid-gap: 20px;
    border: 20px solid #460A4E;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    grid-template-areas:
    "link"
    "myresume";

@include lg {
        grid-template-areas:
        "link"
        "myresume";
        
    }



 
       
    #myresume{
        grid-area: myresume;
    }

    #link{
        grid-area: link;
    }
}
