/* =============
    Variables
============= */
:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #4682B4;
  --purple: #d6cbd3;
  --pink:#eca1a6;
  --green: #bdcebe;
  --brown: #ada397;
  --darkgreen: #22311D;
  --deeppurple: #460A4E;
}