/* =============
    Typography
============= */
body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}



#quote{
    font-style: italic;
    font-size: 16px;
    color: var(--deeppurple);
}

#goal {
    padding: 15px;
    color: var(--deeppurple);

}

#wayside {
    padding: 20px;
    color: var(--deeppurple);
}

#rebound {
    padding: 20px;
    color: var(--deeppurple);
}
#nanny {
    padding: 20px;
    color: var(--deeppurple);
}



h2{
        font-size: rem-calc(25);
        font-weight: 900;
        margin-bottom: 8px;
        color: var(--deeppurple);
        }

h3{
        font-size: rem-calc(18);
        font-weight: 800;
        margin-bottom: 8px;
        color: var(--deeppurple);
        }

footer {

    font-size: 14px;
    color: var(--deeppurple);
    padding-top: 100px;

}

p {
    color: var(--deeppurple);
}

#projects { 
    color: var(--deeppurple);
}

li {
    color: var(--deeppurple);


}

ul {
    list-style-type: none;
}




